*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    
    /*height: 100%;*/
}


header{
    height: 64px;
    width: 100%;
    background-color: rgba(221,188,149,1);
    

}
.info {
    width: 87.8%;
    height: 2%;
    background-color: rgba(221,188,149,0.67);
    margin:0 6%;
}
.novaute { 
    position: relative;
    top: 150px;
    height: 950px;
    /*position: relative;
    height: 800px;
    margin:0 6%;
    display: flex;*/

}
.sous_nouveauté{
    /*margin:0 6%;
    display: flex;
    justify-content: space-between;*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:  
    "p1  v1 v3";
    margin:0 6%;
    grid-column-gap: 50px;
}
.n_patisserie {
    position: relative;
    top: 50px;
    border-radius: 15px;
    
    
    height: 380px;
    background-color: rgba(221,188,149,0.67);
    
    margin:0 6%;
    
    
}
.n_viennoiserie {
    grid-area: p1;
    position: relative;
    top: 100px;
    border-radius: 15px;
    height: 180px;
    background-color: rgba(221,188,149,0.67);
}
.n_epicerie {
    grid-area: v1;
    position: relative;
    top: 100px;
    height: 180px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;
}
.n1_epicerie {
    /*width: 30.38%;*/
    grid-area: v3;
    position: relative;
    top: 100px;
    height: 180px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;
}

.tendance {
    height: 1500px;
    
    position: relative;
    top: 250px;
    /* display: flex;
    margin:0 6%;
    justify-content: space-between;*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:  
    "tendance1  tendance2  tendance3";
    margin:0 6%;
    grid-row-gap: 10%;
    grid-column-gap: 50px;
    }

.tendance1 {
    grid-area: tendance1;
    position: relative;
    top: 150px;
    height: 600px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;
}
.tendance2 {
    grid-area: tendance2;
    position: relative;
    top: 150px;
    /*width: 26.38%;*/
    height: 600px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;

}
.tendance3 {
    grid-area: tendance3;
    position: relative;
    top: 150px;
    /*width: 26.38%;*/
    height: 600px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;

}
.newsletters {
    display: flex;
    position: relative;
    top: -150px;
    margin:0 6%;
    height: 200px;
}
.sinscrire1{
    width: 100%;
    height: 91px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;
}
.conditions{
    height: 480px;
    display: flex;
    margin:0 6%;
    justify-content: space-between;
    
}
.img1{
    position: relative;
    top: 50px;
    width: 17%;
    height: 350px; 
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;
    
}
.img2{
    position: relative;
    top: 50px;
    width: 17%;
    height: 350px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;

}
.img3{
    position: relative;
    top: 50px;
    width: 17%;
    height: 350px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;

}
.img4{
    position: relative;
    top: 50px;
    width: 17%;
    height: 350px;
    background-color: rgba(221,188,149,0.67);
    border-radius: 15px;
    }

footer{
    height: 380px;
    background-color: rgba(221,188,149,1) ;
    width: 100%;
}
@media screen and (max-width: 414px){
    .novaute {
        top:60px;
        height:500px;
    }
    .n_patisserie{
        height:150px;
    }
    .n_viennoiserie{
        height:150px;
    }
    .n_epicerie{
        height:150px;
    }
    .n1_epicerie{
        height:150px;
    }
    .tendance{
        top:40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:  
        "tendance1 "
        " tendance2 "
        " tendance3";
        padding-left: 90px;
        grid-column-gap: 1px;
        grid-row-gap: 1%;
        margin:0;
    }
    .tendance1{
        top:10px;
        height:400px;
        width: 210px;
    }
    .tendance2{
        top:-210px;
        height:400px;
        width: 210px;

    }
    .tendance3{
        top: -150px; 
        height:400px;
        width: 210px;
    }

    .sinscrire1{
        position: relative;
        top:80px;
    }

    .conditions{
        position: relative;
        top: -100px;
        display:flex;
        flex-direction: column;
        margin-left: 90px;
    }
    .img1{
        top: -20px;
        width: 210px;
        
    }
    .img2{
        top: 0px;
        width: 210px;

    }
    .img3{
        top: 20px;
        width: 210px;
    }
    .img4{
        top: 40px;
        width: 210px;
    }

}