*{
    margin: 0;
    padding: 0;
}
html{
}
body{
}
header{
    height: 64px;
    width: 100%;
    background-color: rgba(221,188,149,1);
}
section div {
    border-radius: 10px;
    display:grid;
    position: relative;
    left:10%;
    width: 80%;
    height: 200px;
    background-color: rgba(221,188,149,0.67);
    grid-template-columns: 1fr 1fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr ;
    grid-template-areas: 
    ". . ."
    "image nom prix "
    "image description description "
    ". . ajouter"
    
    ;

}
#ajouter80{
    display: none;
}

section {
    height: 250px;
}
section div img {
    grid-area: image;
    position: absolute;
    left: 20px;
    width: 150px;
    height: 150px;
}
section div h1 {
    grid-area: nom;
    text-align: center;
}
section div h2 {
    grid-area: prix;
    position: relative;
    align-items: center;
    text-align: center;
}
section div p {
    grid-area: description;
}
button{
    position: relative;
    top: 10px;
    width: 320px;
    grid-area: ajouter;
    border-radius: 15px;
    border: none;
}
footer{
    justify-content: flex-end;
    height: 150px;
    background-color: rgba(221,188,149,1);
    width: 100%;
    }
#gateaux_fr:hover{
    color:red;
}
header ul li {
    position: relative;
    left: 70px;
    top: 30px;
}
@media screen and (max-width: 414px){
    header{
        height: 42px;
    }
    
    section {
    height: 220px;
    }

    section div {

        font-size: 12px;
        left: 10%;
        height: 65%;
        width: 350px;
        display:flex;
        flex-direction: column;
    
    ;
    }
    section div h1{
        position: relative;
        left: 25px;
        top: 8px;
        height: 50px;
        padding: 5px;

    }

    section div img{
        top: 10px;
        width:25%;
        height:25%;
        order:2;
    }
    button{
        position: absolute;

        width: 40%;
        top: 40px;
        right: 40px;
        height: 18px;
    }
    section div h2 {
    width: 50px;
    bottom: 0;
    font-size: 16px;
    position: relative;
    align-items: center;
    text-align: center;
}

}