*{
    margin: 0;
    padding: 0;
}
html{
}
body{
    overflow-x: hidden;
}
/*header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    padding: 20px 10px;
    background-color: rgb(219, 169, 107);;
    opacity: 0.8;
    position: sticky;
    top: 0;
    z-index: 1;
}*/

#logo{
    position: relative;
    left: -135px;
    width: 160px;
    height: 50px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    padding: 20px 10px;
    background-color: rgb(219, 169, 107);
    opacity: 0.8;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: honeydew;
    font-size: 20px;
}
li  {
    display: inline-block;
    padding: 0px 20px;
}

#logo {
    position: absolute;
    left: 150px;
    width: 250px;
    height: 65px;
    top: 10px;
}
.info{
    height: 100px;

}
section div {
    border-radius: 10px;
    display:grid;
    position: relative;
    left:10%;
    width: 80%;
    height: 200px;
    background-color: rgba(221,188,149,0.67);
    grid-template-columns: 1fr 1fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr ;
    grid-template-areas: 
    ". . ."
    "image nom prix "
    "image description description "
    ". . ajouter"
    
    ;

}

#off{
    display: none;
}
#ajouter80{
    display: none;
}

section {
    height: 250px;
}
section div:hover{
    background-color: rgba(221,188,149,1) ;
    transform: scalex(1.1);
}
section div img {
    grid-area: image;
    position: absolute;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
section div h1 {
    grid-area: nom;
    text-align: center;
}
section div h2 {
    grid-area: prix;
    position: relative;
    align-items: center;
    text-align: center;
}
section div p {
    grid-area: description;
}
button{
    position: relative;
    top: 10px;
    width: 320px;
    grid-area: ajouter;
    border-radius: 15px;
    background-color: rgb(204, 156, 96);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 8px;
    color: blanchedalmond;
    border: none;
}
button:hover{
    border-bottom: 1px black solid;
}
footer{
    justify-content: flex-end;
    height: 150px;
    background-color: rgb(219, 169, 107);
    width: 100%;
    }

#gateaux_fr:hover{
    color:red;
}
#lien3{
    display: none;
}

@media screen and (max-width: 414px){
    header{
        height: 42px;
    }
    
    section {
    height: 220px;
    }
    #logo{
        position: relative;
        left: -135px;
        width: 160px;
        height: 50px;
    }

    .burger{
        position: absolute;
        left: 20px;
        width: 50px;
        height: 50px;
    }
    .burger div{
        height: 6px;
        width: 40px;
        background-color: black;
        margin-top: 7px;
        border-radius: 10px;
    }
    .burger:active{
        color: red;
    }
    nav{
        top: +60px;
        margin-top: 10px;
    }
    nav ul{
        position: relative;
        top: -36px;
        left:-225px;
        background-color: rgba(221,188,149,1);;
        height: 400px;
        width: 200px;
        z-index: 1;
    }
    .animation1{
        display:none;
    }
    .na{
        position: relative;
        left:-40px;
        top:-20px;
    }
    li{
        position: relative;
        display: block;
        top: 50px;
        margin-top: 25px;
        border-bottom: 2px solid chocolate;
        
    }
    #lien3{
        display: block;
    }
    nav ul li a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            top: 20px;
            margin-top: 30px;
        }

    section div {

        font-size: 12px;
        left: 2%;
        height: 65%;
        width: 350px;
        display:flex;
        flex-direction: column;
    
    ;
    }
    section div h1{
        position: relative;
        left: 25px;
        top: 8px;
        height: 50px;
        padding: 5px;

    }

    section div img{
        top: 10px;
        width:25%;
        height:25%;
        order:2;
    }
    button{
        position: absolute;
        background-color: black;

        width: 40%;
        top: 40px;
        right: 40px;
        height: 18px;
    }
    section div h2 {
    width: 50px;
    bottom: 0;
    font-size: 16px;
    position: relative;
    align-items: center;
    text-align: center;
}

}